// Re-usable interstitial container
// Used as a full-screen takeover on form submit

$ell-interstitial-background-color: $primary-color;
$ell-interstitial-max-width: rem-calc(640);
$ell-interstitial-padding: rem-calc(32);

.ell-interstitial {
    background: $ell-interstitial-background-color;
    align-items: center;
    justify-content: center;

    .ell-interstitial-body {
        max-width: $ell-interstitial-max-width;
        background: $white;
        border-radius: $global-radius*2;
        padding: $ell-interstitial-padding;
        text-align: center;
    }
}
