// Components > Reveal
// -------------------------

$reveal-action-bg: $whitesmoke-gray;
$reveal-border-color: $medium-gray;


.reveal-header {
    background: $reveal-action-bg;
    border-bottom: 1px solid $reveal-border-color;
    padding: rem-calc(12 16);

    h2 {
        font-size: rem-calc(16);
        line-height: rem-calc(32);
        margin: 0;
        padding-right: rem-calc(24);
    }
}

.reveal-modal, 
.reveal {
    .reveal-body {

        max-height:rem-calc(450);
        max-height:60vh;
        overflow-y:auto;
        padding: rem-calc(16);
        & > p,
        & > .callout {
            &:last-child {
                margin-bottom:0;
            }
        }  
        &.is-processing {
            min-height:rem-calc(120);
        }      
        &.reveal-body-no-scroll {
            max-height: none;
            overflow-y: visible;
        }
        & > .row {
            margin-left: -(rem-calc(15));
            margin-right: -(rem-calc(15));
        }
    }
    .reveal-footer {
        background:$reveal-action-bg;
        border-top:1px solid $reveal-border-color;
        padding: rem-calc(12 16);
        text-align:right;
        .button {
            margin-bottom:0;
        }
        .row {
            margin-left:rem-calc(-8);
            margin-right:rem-calc(-8);
            .columns {
                padding-left:rem-calc(8);
                padding-right:rem-calc(8);
            }
        }
    }
}


.reveal {
    &.tiny {
        width:rem-calc(320);
    }
    &.small {
        width:rem-calc(480);
    }
    &.large {
        width:rem-calc(728);
    }
    &.xlarge {
        width:rem-calc(900);
    }
    &.full-grid {
        width:$global-width;
    }
    // If the row is not nested in another row, does not get negative gutter by default...
    &.confirm {
        width:rem-calc(480);
        &.small {
            width:rem-calc(360);
        }
        .confirm-icon {
            font-size:rem-calc(48);
            margin-right:rem-calc(12);
            float:left;
        }
        .confirm-prompt {
            line-height:rem-calc(24);
            strong {
                display:block;
            }
        }
    }
}