// Variables > Tyopgrahy Variables
// -------------------------

$normal-font-family                 : "ProximaNova-Regular", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$semibold-font-family               : "ProximaNova-Semibold", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$bold-font-family                   : "ProximaNova-Bold", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
