// Layout > Student List > Print Styles
// -------------------------

@media print {
    .sl-sidebar,
    .sl-submenu {
        display: none;
    }

    .grid-frame {
        &.sl-grid-frame {
            height: auto;
        }
    }

    .sl2-supergrid-container {
        .supergrid-outer-container {
            // Removes absolute position of SL2 supergrid
            position: inherit;
        }
    }
}